public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*native*
public-hoist-pattern[]=*base64-js*
public-hoist-pattern[]=*metro*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*scheduler*
public-hoist-pattern[]=*promise*
public-hoist-pattern[]=*ws*
public-hoist-pattern[]=*abort-controller*
public-hoist-pattern[]=*event-target-shim*
public-hoist-pattern[]=*anser*
public-hoist-pattern[]=*ansi-regex*
public-hoist-pattern[]=*chalk*
public-hoist-pattern[]=*commander*
public-hoist-pattern[]=*invariant*
public-hoist-pattern[]=*memoize-one*
public-hoist-pattern[]=*nullthrows*
public-hoist-pattern[]=*pretty-format*
public-hoist-pattern[]=*semver*
public-hoist-pattern[]=*stacktrace-parser*
public-hoist-pattern[]=*whatwg-fetch*
public-hoist-pattern[]=*yargs*
# node-linker=hoisted # Removed as it caused install errors
# symlink=false      # Removed as it's not needed without node-linker=hoisted
shamefully-hoist=true
