version: "3.8"
services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: locket_api
    ports:
      - "8080:8080"
    env_file:
      - ../.env.example
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rocket
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"

volumes:
  pg_data:
